<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ilab.yougetmobiledl">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/ActivityFullScreen">

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:fitsSystemWindows="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:fitsSystemWindows="true" />

        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait"
            android:fitsSystemWindows="true" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000" />

        <service android:name=".service.WebServer" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ilab.yougetmobiledl.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,grantUriPermissions,exported">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource" />
        </provider>

        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name=".ext.Ktx"
            android:exported="false" />
    </application>

</manifest>
